@font-face {
    font-family: "Cirka";
    font-weight: 400;
    src: url("/fonts/PPCirka-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Cirka";
    font-weight: 200;
    src: url("/fonts/PPCirka-Light.otf") format("opentype");
}

@font-face {
    font-family: "Cirka";
    font-weight: 600;
    src: url("/fonts/PPCirka-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'PP Object Sans';
    font-weight: 400;
    src: url("/fonts/PPObjectSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'PP Object Sans';
    font-weight: 300;
    src: url("/fonts/PPObjectSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'PP Object Sans';
    font-weight: 600;
    src: url("/fonts/PPObjectSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'PP Object Sans';
    font-weight: 500;
    src: url("/fonts/PPObjectSans-Medium.otf") format("opentype");
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-family: 'PP Object Sans';
}