p, h1, h2, a {
  font-family: Helvetica;
  font-weight: 300;
}

h1 {
  font-weight: 400;
  font-size: 2.75rem
}

strong a {
  font-weight: 500;
}

@mixin mobile() {
  @media screen and (max-width: 768px) { @content; }
}

.library-wrapper {
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.prio-chart__corner {
  --dimension: 5px;
  position: absolute;
  width: var(--dimension);
  height: var(--dimension);
  position: absolute;

  &.top-left {
    border-top: var(--dimension) solid black;
    border-right: var(--dimension) solid transparent;
    top: 0;
    left: 0;
  }

  &.top-right {
    border-top: var(--dimension) solid black;
    border-left: var(--dimension) solid transparent;
    top: 0;
    right: 0;
  }

  &.bottom-left {
    border-bottom: var(--dimension) solid black;
    border-right: var(--dimension) solid transparent;
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    border-bottom: var(--dimension) solid black;
    border-left: var(--dimension) solid transparent;
    bottom: 0;
    right: 0;
  }
}

body {
  overscroll-behavior-y: none;
}

@media screen and (max-width: 950px) {
  .p-dialog-content {
    padding-top: 2rem
  }
}


.printcontainer {
  width: 7in;
  height: 9.25in;
  margin: 27mm 16mm 27mm 16mm;
}