@mixin mobile() {
  @media screen and (max-width: 768px) { @content; }
}

@mixin cirkaRegular() {
  font-family: "Cirka";
  font-weight: 400;
  font-size: max(2.5rem, 2vw);
}

@mixin cirkaLight() {
  font-family: "Cirka";
  font-weight: 200;
  font-size: 2rem;
}
